.code-workspace
.directory
.nmlcache
*.cacheindex
*.cache
__pycache__

# Remove python scripts - the code remains the same, just target voxel is changing
render_command.py
nml_patcher.py
move_grf.py
pybuild.sh

# Backup folders of stuff in case I screw up
backups/

# Research and Docs
research/
