.code-workspace
.directory
.nmlcache
*.cacheindex
*.cache
__pycache__

# Remove renderobject which produces the sprites from voxels
renderobject
newrender.py

# Old versions of the GRF

# Backup folders of stuff in case I screw up
backup/
version_history/
previous/
half/
raw/
xcf/

# Research and Docs
research/